.login {
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 50rem;
    padding: 4rem;
    box-shadow: var(--box-shadow);
    border-radius: 3rem;
    margin-bottom: 2rem;
    background-color: white;

    .form-group {
      display: flex;
      flex-direction: column;

      label {
        font-size: 1.8rem;
        color: var(--accent);
        font-weight: 700;
        margin-bottom: 1rem;
      }

      input {
        padding: 1rem;
        outline: none;
        border: 1px solid var(--divider);
        border-radius: 3px;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        &:focus {
          border-color: var(--accent);
        }
      }

      .form-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        .btn {
          margin-left: 0.5rem;
          width: 100%;
        }
      }
    }

    .compte {
      margin-top: 1rem;
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 2.3rem;
      text-align: center;

      a {
        color: var(--dark);
        font-weight: 700;
      }
    }
  }
}
