@use "variables";
@use "reset";
@use "classes";
@use "media-queries" as *;
@use "utils";
@use "base";

main.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 25rem 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "aside article"
    "footer footer";
  gap: 0.2rem;

  @include xs {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

    grid-template-areas:
      "header"
      "article"
      "footer";
  }

  header {
    grid-area: header;
    background-color: var(--primary);
    padding: 2rem;
    .logo {
      display: flex;
      align-items: center;
      gap: 1rem;

      i {
        background-color: var(--dark);
        padding: 1rem;
        border-radius: 3rem;
        color: white;
        cursor: pointer;
        display: none;
        @include xs {
          display: block;
        }
      }
    }
  }

  aside {
    grid-area: aside;
    background-color: var(--accent);
    padding: 4rem 0 0 2rem;
    display: flex;
    flex-direction: column;
    @include md {
      width: 25rem;
      align-items: center;
      gap: 1rem;
    }

    @include xs {
      position: fixed;
      top: 0;
      left: 0;
      width: 250px;
      height: 100vh;
      z-index: 999;

      // 💡 Effet de glissement
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;

      // 💡 Quand le JavaScript ajoute la classe .open
      &.open {
        transform: translateX(0);
      }
    }

    // @include xs {
    //   display: none;
    // }
  }

  .devNotes {
    color: white;
    font-size: 2rem;
    font-weight: 700;
  }

  .ajoutNotes {
    color: white;
    font-size: 1.5rem;
    @include md {
      font-size: 2rem;
    }
  }

  .aside-content {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 200px;
    padding: 1.5rem;
    border-radius: 3rem;
    i {
      display: block;
    }

    &:hover {
      background-color: blue;
    }
    @include md {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      // &:hover {
      //   background-color: transparent;
      // }
    }
  }

  article {
    grid-area: article;
  }

  footer {
    grid-area: footer;
    padding: 2rem;
    background-color: black;
    color: white;
    text-align: center;
  }
}
